# Variables para la Base de Datos
POSTGRES_USER=tu_usuario
POSTGRES_PASSWORD=tu_password
POSTGRES_DB=nombre_db

# URL de conexión para Prisma/Express
DATABASE_URL="postgresql://tu_usuario:tu_password@db:5432/nombre_db"

# Autenticación JWT
JWT_SECRET="tu_clave_secreta_aqui"
JWT_EXPIRES_IN="8h"